.menu{
    
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 10px;
    font-family: Calibri;
    font-weight: 400;
    color: cornsilk;
}



.heading{
    display: flex;
    background-image:url(bg.jpg);
    background-size: 3000px;
    justify-content: space-around;
}

.grid img{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 40px;
    justify-content: space-evenly;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.origami{
    background-color: rgb(141, 243, 141);

    width: 310px;
    font-family: Calibri;

}


.heading{
    display: flex;
    justify-content: space-evenly;
    font-family: cursive;
}

.header{
    text-align: center ;
    background-color: green;
}
